[package]
name = "turbo-rs"
version = "0.1.0"
authors = ["ibraheem <ibrah1440@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
futures = "0.3.6"
hyper = "0.13.8"